.error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: first baseline;
  background-image: url(../../img/failure.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  &_page {
    margin-top: 5rem;
    color: red;
    font-size: 3rem;
  }
  &_back{
    position: absolute;
    border: 2px solid red;
    top: 30%;
    left: 50%;
    padding: .7rem;
    font-size: 2rem;
    border-radius: 20px;
    cursor: pointer;
    background-color: aqua;
  }
}