* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color:#222222;
  color: #ccaabb;
  font-size: 1.2rem;
  line-height: 1.5;


  @media (min-width: 768px) {
    font-size: 1.5rem;
  } 
}
